<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>TechTa</title>
</head>

<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse">
        <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#about" tabindex="-1" aria-disabled="true">About</a></li>
          <!--Activity = DataSet-->
          <li class="nav-item"> <a class="nav-link" href="#activity" tabindex="-1" aria-disabled="true">DataSet</a></li>
          <!--Testimonial = Why Choose Us-->
          <li class="nav-item"> <a class="nav-link" href="#testimonial" tabindex="-1" aria-disabled="true">Why Choose
              Us?</a></li>
          <li class="nav-item"> <a class="nav-link" href="#contact" tabindex="-1" aria-disabled="true">Contact</a></li>
          <li class="nav-item"> <a class="nav-link" href="/register" tabindex="-1" aria-disabled="true">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Mashead header-->
  <div class="container-fluid fh5co-home-banner">
    <header class="masthead">
      <div class="card"> <img class="card-img" src="/img/main_background.png" alt="">
        <div class="card-img-overlay">
          <div class="container px-5">
            <div class="row gx-5 align-items-center">
              <div class="col-lg-6">
                <img src="/img/techta-logo.png" alt="" class="img-fluid">
              </div>
              <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                  <h2 class="card-title">TechTa</h2>
                  <blockquote class="blockquote text-center">
                    <p class="mb-0">“Data is the new oil? No, data is the new soil.”</p>
                    <footer class="blockquote-footer" id="citation">David McCandless, <cite title="Source Title">TED
                        Talk,
                        the
                        Beauty of Data Visualization” 2010</cite></footer>
                  </blockquote>
                  <br>
                  <h3>Then, TechTa is where your land starts to build.</h3>
                  <a href="#about" class="btn">
                    <svg width="201" height="51" viewBox="0 0 201 51">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: none;
                            stroke-width: 1px;
                            stroke: url(#linear-gradient);
                          }
                        </style>
                        <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5"
                          gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="#e90e65" />
                          <stop offset="1" stop-color="#fff" />
                        </linearGradient>
                      </defs>
                      <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5"
                        width="200" height="50" rx="25" ry="25" />
                    </svg>
                    Explore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="container-fluid fh5co-two-img">
    <div class="row">
      <div class="col-sm-6 pr-0 pl-0">
        <!-- *** Change picture-->
        <div class="card"> <img class="card-img" src="/img/girl1.jpg" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
      <div class="col-sm-6 pr-0 pl-0">
        <!-- *** Change picture-->
        <div class="card"> <img class="card-img" src="/img/girl2.jpg" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid fh5co-recent-work">
    <div class="container contact-pop">
      <div class="row">
        <div class="col-md-6  pr-0">
          <!-- *** Change picture-->
          <div class="card"> <img class="card-img w-100" src="/img/girl3.jpg" alt="">
            <div class="card-img-overlay"> </div>
          </div>
        </div>
        <div class="col-md-6 pl-0" id="about">
          <div class="content">
            <h3>I am Sandra Reigel</h3>
            <h4>Professional photographer</h4>
            <hr />
            <p>Sed do eiusmod tempor incididunt ut labore et dolo magna aliqua. Ut enim ad minim veniam, quis nostd
              exercitation ullamco laboris nisi ut aliquip ex ea mo consequat. Duis aute irure dolor in reprehenderit in
              ullamco.</p>
            <a href="#" class="btn">CONTACT</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container recent" id="activity">
      <div class="row">
        <!--DataSet-->
        <h2>DataSet</h2>
        <div class="owl-carousel owl-carousel2 owl-theme">
          <div>
            <!-- ***Try make the card below to appear in white and not grey-->
            <div class="card"> <img class="card-img" src="/img/recent-img1.jpg" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Covid-19</h5>
                  <a href="#">Read more <img src="/img/double-right.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card"> <img class="card-img" src="/img/recent-img2.jpg" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Data Set 2</h5>
                  <a href="#">Read more <img src="/img/double-right.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card"> <img class="card-img" src="/img/recent-img3.jpg" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Data Set 3</h5>
                  <a href="#">Read more <img src="/img/double-right.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <!-- ***Put a QUESTION MARK photo-->
            <div class="card"> <img class="card-img" src="/img/recent-img4.jpg" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Coming Soon</h5>
                  <a href="#">Read more <img src="/img/double-right.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid fh5co-about-me" id="testimonial">
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="card"> <img class="card-img d-block w-100" src="/img/characteristics-background.png" alt="">
          <div class="card-img-overlay">
            <h2>Why Choose Us?</h2>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-md-block"> <img src="/img/quote-icon.png" alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo</p>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="carousel-caption d-md-block"> <img src="/img/quote-icon.png" alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-md-block"> <img src="/img/quote-icon.png" alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo</p>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <!--***Characteristic 1 picture-->
        <li data-target="#my-carousel" data-slide-to="0"> <img src="/img/about-me-img1.png" alt="">
          <span>[Characteristic 1]</span>
        </li>
        <!--***Characteristic 2 picture-->
        <li class="active" data-target="#my-carousel" data-slide-to="1" aria-current="location"> <img
            src="/img/about-me-img2.png" alt=""> <span>[Characteristic 2]</span> </li>
        <!--***Characteristic 3 picture-->
        <li data-target="#my-carousel" data-slide-to="2"> <img src="/img/about-me-img3.png" alt="">
          <span>[Characteristic 3]</span>
        </li>
      </ol>
    </div>
  </div>
  <div class="container-fluid fh5co-insta-feed activity">
    <div class="container recent">
      <h2 class="text-center d-block" id="contact">Find me on social media</h2>
      <div class="row social-links">
        <ul class="nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="https://www.facebook.com/fh5co"><img
                src="/img/facebook.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="https://twitter.com/fh5co"><img src="/img/twitter.png"
                alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="/img/pinterest.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="/img/google-plus.png" alt=""></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="container-fluid p-0 pr-0">
    <div class="copy pt-4 pb-4">
      <p><a href="#" target="_blank"> &copy; 2021 Group2</a> &nbsp; | &nbsp; Design by <a href="#"
          target="_blank">FIT2101 Group2</a> &nbsp; | &nbsp; All rights reserved</p>
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>