
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

h2 {
  font-size: 25px;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    h2 {
      font-size: 18px; } }

.maine-menu {
  position: absolute;
  top: 20px; }
  .maine-menu .navbar-nav li .nav-link {
    /* font-family: "PT-Sans-Bold"; */
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 25px;
    color: #fff; }
  .maine-menu .navbar-nav li.active a, .maine-menu .navbar-nav li:hover a, .maine-menu .navbar-nav li:visited a {
    color:#e90e65; }
  .maine-menu .bar1, .maine-menu .bar2, .maine-menu .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    display: block;
    position: relative; }
  .maine-menu .change .bar1 {
    -webkit-transform: rotate(-42deg) translate(-2px, 6px);
    transform: rotate(-42deg) translate(-2px, 6px); }
  .maine-menu .change .bar2 {
    opacity: 0; }
  .maine-menu .change .bar3 {
    -webkit-transform: rotate(46deg) translate(-4px, -8px);
    transform: rotate(46deg) translate(-4px, -8px); }
  @media (max-width: 991px) {
    .maine-menu .navbar-nav {
      float: right; }
      .maine-menu .navbar-nav li .nav-link {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        padding: 7px 10px;
        color: #fff; }
    .maine-menu .collapse.show {
      background: rgba(0, 0, 0, 0.5); } }

.card {
  border: none;
  background: none;
  border-radius: 0; }
  .card img {
    border-radius: 0; }

.fh5co-home-banner {
  padding: 0; }
  .fh5co-home-banner .card {
    border: none; }
  .fh5co-home-banner h2 {
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
    max-width: 730px;
    margin: 0 auto; }
    .fh5co-home-banner  blockquote, .fh5co-home-banner .blockquote-footer, .fh5co-home-banner h3 {
      color: #fff;
    }
    .fh5co-home-banner blockquote #citation{
      background: none;
    }
    .fh5co-home-banner h3 {
      font-family: "Lato";
      font-weight: bolder;
    }
  .fh5co-home-banner a {
    text-transform: uppercase;
    color: #fff;
    width: 198px;
    border-radius: 40px;
    margin-top: 50px;
    padding: 13px 0; }
    .fh5co-home-banner a svg {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: -13px; }
  .fh5co-home-banner .center-text {
    text-align: center;
    position: relative;
    top: 35%; }
  .fh5co-home-banner .card-img-overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black); }
  @media (max-width: 991px) {
    .fh5co-home-banner h2 {
      font-size: 30px;
      max-width: 460px; }
    .fh5co-home-banner .center-text {
      top: 30%; } }
  @media (max-width: 700px) {
    .fh5co-home-banner a {
      width: 140px;
      padding: 4px 0; }
      .fh5co-home-banner a svg {
        height: 35px;
        margin-top: -5px;
        width: 140px; } }
  @media (max-width: 600px) {
    .fh5co-home-banner a {
      margin-top: 20px; }
    .fh5co-home-banner h2 {
      font-size: 18px;
      max-width: 260px; }
    .fh5co-home-banner .center-text {
      top: 30%; } }
    
      .masthead {
        background-color: black;
        padding-top: 1rem;
      }

.fh5co-two-img .card-img-overlay {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black); }

.contact-pop {
  margin-top: -300px; }
  .contact-pop .card-img-overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -linear-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    border-radius: 15px 0 0 15px; }
  .contact-pop .row {
    max-width: 918px;
    margin: 0 auto; }
  .contact-pop img {
    border-radius: 15px 0 0 15px; }
  .contact-pop .content {
    padding: 45px 20px 20px 40px;
    height: 100%;
    background: #fff;
    border-radius: 0 15px 15px 0; }
    .contact-pop .content h3 {
      color: #3d383a;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .contact-pop .content h4 {
      color: #978b91;
      font-size: 18px;
      font-weight: 400;    
    }
    .contact-pop .content p {
      color: #584f53; }
    .contact-pop .content hr {
      background-color: #222;
      width: 50px;
      height: 5px;
      border: none;
      margin-left: 0; }
    .contact-pop .content a {
      background-color: #222;
      width: 158px;
      border-radius: 40px;
      color: #fefefe;
      padding: 10px 0;
      margin-top: 20px; }
    @media (max-width: 991px) {
      .contact-pop .content {
        padding: 20px 20px 20px 25px; }
        .contact-pop .content h3 {
          font-size: 24px; }
        .contact-pop .content h4 {
          font-size: 16px; }
        .contact-pop .content p {
          font-size: 14px; }
        .contact-pop .content a {
          width: 120px;
          padding: 5px 0; }
        .contact-pop .content hr {
          margin: 10px 0; } }
  @media (max-width: 991px) {
    .contact-pop {
      margin-top: -250px; } }
  @media (max-width: 767px) {
    .contact-pop {
      margin-top: 0; }
      .contact-pop .col-md-6 {
        padding: 0; }
      .contact-pop img {
        border-radius: 15px 15px 0 0; }
      .contact-pop .card-img-overlay {
        border-radius: 15px 15px 0 0; }
      .contact-pop .content {
        border-radius: 0 0 15px 15px; } }

.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.fh5co-recent-work {
  background: black;
  padding: 100px 0; }
  @media (max-width: 767px) {
    .fh5co-recent-work {
      padding-bottom: 0; } }

.recent {
  margin-top: 200px; }
  .recent h2 {
    color:white; }
    .recent #contact {
      color:white; }
  .recent .owl-carousel .owl-stage-outer {
    padding-top: 30px;
    padding-bottom: 50px; }
  .recent .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff; }
    .recent .owl-carousel .owl-nav .owl-prev, .recent .owl-carousel .owl-nav .owl-next {
      height: 23px;
      width: 23px;
      text-align: center;
      padding: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 2px; }
      .recent .owl-carousel .owl-nav .owl-prev:hover, .recent .owl-carousel .owl-nav .owl-next:hover {
        background: #fff;
        color: #222; }
        .recent .card h5 {
          font-size: 22px; }
      .recent .owl-carousel .owl-nav .owl-prev span, .recent .owl-carousel .owl-nav .owl-next span {
        position: relative;
        display: block;
        top: -2px; }
    .recent .owl-carousel .owl-nav button {
      outline: none; }
  .recent .card {
    border-radius: 15px;
    margin-bottom: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
    .recent .card .card-img {
      border-radius: 15px; }
    .recent .card h5 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px; }
    .recent .card.active, .recent .card:hover {
      transform: scale(1.05, 1.1);
      -webkit-transform: scale(1.05, 1.1);
      -ms-transform: scale(1.05, 1.1);
      -moz-transform: scale(1.05, 1.1);
      box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.25); }
      .recent .card.active .card-img-overlay, .recent .card:hover .card-img-overlay {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(34, 34, 34, 0.95));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(34, 34, 34, 0.95));
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(34, 34, 34, 0.95));
        background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(34, 34, 34, 0.95)); }
      .recent .card.active p, .recent .card:hover p {
        color: rgb(90, 90, 90); }
  .recent .card-img-overlay {
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)); }
    .recent .card:hover a {
      display: inline-block; }  
    .recent .card-img-overlay a {
      display: none;
      font-size: 15px;
      color: rgb(240, 240, 132);
      text-decoration: none;
      margin-top: 10px}
      .recent .card-img-overlay a img {
        width: 15px;
        display: inline-block;
        color: rgb(240, 240, 132); }
  .recent .bottom-text {
    position: absolute;
    bottom: 30px; }
  @media (max-width: 767px) {
    .recent {
      margin-top: 100px; } }

.fh5co-about-me {
  padding: 0; }
  .fh5co-about-me .card-img-overlay {
    background-color: rgba(34, 34, 34, 0.75); }
  .fh5co-about-me h2 {
    text-align: center;
    color: #fff;
    margin: 70px auto; }
  .fh5co-about-me .card-img {
    min-height: 730px; }
  .fh5co-about-me .carousel-indicators {
    bottom: 100px; }
    .fh5co-about-me .carousel-indicators li {
      height: 89px;
      width: 89px;
      z-index: 55;
      text-indent: 5px;
      border: 1px solid #fafafa;
      border-style: solid;
      border-radius: 50%;
      padding: 3px;
      background: none;
      margin: 0 20px;
      position: relative;
      top: 43px;
      opacity: 0.5; }
      .fh5co-about-me .carousel-indicators li span {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        display: none;
        color: #fff; }
      .fh5co-about-me .carousel-indicators li img {
        width: 100%;
        position: relative;
        left: -5px; }
      .fh5co-about-me .carousel-indicators li.active {
        height: 166px;
        width: 166px;
        opacity: 1;
        top: 0px;
        padding: 7px; }
        .fh5co-about-me .carousel-indicators li.active span {
          display: block; }
  .fh5co-about-me .carousel-caption {
    bottom: 335px; }
    .fh5co-about-me .carousel-caption p {
      max-width: 540px;
      margin: 0 auto;
      margin-top: 50px; }
  @media (max-width: 991px) {
    .fh5co-about-me .card-img {
      position: relative;
      width: 150% !important;
      margin-left: -25%;
      margin-right: -25%; } }
  @media (max-width: 720px) {
    .fh5co-about-me h2 {
      margin: 20px auto; }
    .fh5co-about-me .card-img {
      min-height: 575px; }
    .fh5co-about-me .carousel-caption {
      left: 5%;
      right: 5%;
      bottom: 270px; }
      .fh5co-about-me .carousel-caption p {
        margin-top: 20px; }
      .fh5co-about-me .carousel-caption img {
        max-width: 50px; }
    .fh5co-about-me .carousel-indicators {
      bottom: 100px;
      margin-left: 5%;
      margin-right: 5%; }
      .fh5co-about-me .carousel-indicators li {
        height: 60px;
        width: 60px;
        margin: 0 10px;
        top: 20px; }
        .fh5co-about-me .carousel-indicators li span {
          font-size: 14px; }
        .fh5co-about-me .carousel-indicators li.active {
          height: 100px;
          width: 100px; } }

.fh5co-insta-feed {
  padding: 100px 0;
  background: black; }
  .fh5co-insta-feed .card {
    box-shadow: none; }
    .fh5co-insta-feed .card .card-img-overlay {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); }

.social-links {
  margin-top: 20px; }
  .social-links ul li {
    text-align: center;
    margin: 0 10px; }
    .social-links ul li a {
      border: 1px solid #a59299;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      padding: 0;
      padding-top: 10px; }
    .social-links ul li:hover a, .social-links ul li:visited a {
      background: #fff; }

footer {
  background: #222; }
  footer .copy {
    background: #222;
    text-align: center; }
    footer .copy p {
      color: #fff; }
    footer .copy a {
      color: #fff;
      transition: 0.3s ease;
      text-decoration: none; }
      footer .copy a:hover {
        color: rgb(175, 168, 168); }
  @media (max-width: 1199px) {
    footer .contact-form {
      margin: 50px auto; } }
  @media (max-width: 767px) {
    footer .map {
      min-height: 300px; } }

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0; }
  .container-fluid {
    padding-left: 0;
    padding-right: 0; } }
